*{
    box-sizing: border-box; /* pour que les padding et margin ne modifient pas la taille de l'élément */ 
    text-decoration: none;  
    background-color: #ffffff;

} 

body{
    background-color: #ffffff;
    font-family: "Epilogue", sans-serif;
      margin: 0; /* pour éviter les marges par défaut du navigateur */
    line-height: 1.5;/* hauteur de ligne pour la lecture à l'écran */ 
    font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
      font-optical-sizing: auto;
    }

    /* font-variation-settings: "wght" 500; pour ls fonts variable */ 
    margin: 0; /* pour éviter les marges par défaut du navigateur */
    line-height: 1.5;/* hauteur de ligne pour la lecture à l'écran */ 



img{
    max-width: 100%; /* pour que les images ne dépassent pas de leur conteneur */
    height: auto; /* pour garder le ratio de l'image */
  }

.header{
  display: flex; 
  justify-content: space-between; /* pour espacer les éléments */
  /*justify-content: max-content;  pour espacer les éléments */
  align-items: center ; /* pour centrer verticalement */
  padding: 0 24x; 
  position: sticky; /* pour que le header reste en haut de la page */
  margin:0; /* pour que le header reste en haut de la page */
  margin-top: 20px;
  z-index: 999; /* repeindre */
  width: 100%; /* pour que le header prenne toute la largeur */

  font-family: "Epilogue", sans-serif;
  font-size: 30px;

  border-bottom: 4pt solid #2647a4;
  text-decoration: none;
  }
  

.header-container {
  display: flex; /* Arrange les éléments horizontalement */
  justify-content: space-between;
  gap: 0px;              /* Espace entre le premier h1 et le second h1 */
  padding: 0 24px;       /* Espace entre le bord de la page et les éléments */
  margin-bottom: 20px;
  background: #ffffff; 
  align-items: center; 
  max-width: 100%;
  flex-grow: 1;
  } */

/* Ligne pour aligner le premier h1 et les h2 */
.first-row {
  display: flex;
  justify-content: space-between;  /* Sépare le h1 à gauche et les h2 à droite */
  align-items: inherit; /*Centre les h2 verticalement avec le h1 */
  gap: 0px;              /* Espace entre le h1 et les h2 */

}

h1, h2 {
  margin: 0;              /* Retire la marge par défaut des titres */
}

h1 {
  font-size: 43px;
  text-align: left;
  padding-right: 2fr;
  padding-left: 1%;
  color: #2647a4;
}

h1 a {
  text-decoration: none; /* Retire le soulignement des liens */
  color: #2647a4;        /* Couleur du texte */
}

h2 a{
  font-size: 27px;
  text-decoration: none; 
  color: #2647a4;
  text-align: right;
  padding-right: 20px
  :hover {
  color: #ff79ff72; 
  }

} 

.header h1{
  margin: 0 ; /* pour éviter les marges par défaut du navigateur */
  color: #2647a4;
  text-align: center;
  text-decoration: none;
  flex: auto;
}

.header-container h1:hover{
  color: #2de8b6; 
}

.header h2{
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0; /* pour éviter les marges par défaut du navigateur */
  color: #2647a4;
  text-align: center;
  display: flex;
  text-decoration: none;
} */
.header-nav{
  display: flex;
  gap:0 24px ;
}

/* .header-nav a{
color: rgb(0, 95, 124);
  text-decoration: none;
} */

.header-container a:hover {
  background: #2de8b6;
  background-size: 200px; /* pour définir la largeur du dégradé */
  -webkit-background-clip: text; /* pour que le dégradé soit visible dans le texte */
  background-clip: text; /* pour que le dégradé soit visible dans le texte */
  color: transparent; /* pour que le texte soit transparent */
  animation: rainbow 1s linear infinite; /* pour animer le dégradé */
}

.projets{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ; /* auto-fit pour que le nombre d'éléments s'adaptent à la largeur du conteneur 
  320px -> 1 élément
  480px -> 2 éléments
  720px -> 3 éléments
  */
  /* gap: 67px; */
  gap: 4vw;
  justify-items: center;
  padding: 24px;
  justify-content: center;
  margin: 0;
}

.projet{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  box-shadow: 0 0 0px rgba(196, 7, 7, 0.1);
  padding: 0px;
  color:inherit;
  transition: all 0.2s; 
}

.projet img{
  max-width: 100%;
  max-height: 100%;
  padding: 6pt;
  border: 2pt;
  border-radius: 95px;  
  object-fit: scale-down;
  transition: border-color 0.3s ease; 
  background-color: transparent;
}

.titre {
  position: absolute; /* Permet de le superposer à l'image */
  bottom: 10px; /* Positionner le titre au bas de l'image */
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Ajuster pour centrer correctement */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour la lisibilité */
  color: white; /* Couleur du texte */
  padding: 5px; /* Espacement autour du texte */
  border-radius: 5px; /* Coins arrondis pour le fond */
  opacity: 0; /* Rendre le titre invisible par défaut */
  transition: opacity 0.3s ease; /* Transition douce pour l'apparition */
}

:root {
  --hover-color: #ffffff;
}

.projet img:hover {
  background-color: var(--hover-color); /* Applique la couleur de fond lors du survol */
 /*  transition: background-color 0.3s ease; */  /* Transition douce pour l'effet */
}

.projets .projet:nth-last-of-type(9) img {
  border: 3pt solid #7f67b6;
}
.projets .projet:nth-last-of-type(9) img:hover {
  background-color: #7f67b6;
}


.projets .projet:nth-last-of-type(8) img {
  border: 3pt solid #4073c5;
}
.projets .projet:nth-last-of-type(8) img:hover {
  background-color: #4073c5;
}


.projets .projet:nth-last-of-type(7) img {
  border: 3pt solid #fb0000;
}
.projets .projet:nth-last-of-type(7) img:hover {
  background-color: #fb0000;
}


.projets .projet:nth-last-of-type(6) img {
  border: 3pt solid #515151;
}
.projets .projet:nth-last-of-type(6) img:hover {
  background-color: #515151;
}


.projets .projet:nth-last-of-type(5) img {
  border: 3pt solid #9dd3e5; 
}
.projets .projet:nth-last-of-type(5) img:hover {
  background-color: #9dd3e5;
}


.projets .projet:nth-last-of-type(4) img {
  border: 3pt solid #9ea681;
}
.projets .projet:nth-last-of-type(4) img:hover {
  background-color: #9ea681;
}


.projets .projet:nth-last-of-type(3) img {
  border: 3pt solid #313131;
}
.projets .projet:nth-last-of-type(3) img:hover {
  background-color: #313131;
}


.projets .projet:nth-last-of-type(2) img {
  border: 3pt solid #ffad0b;
}
.projets .projet:nth-last-of-type(2) img:hover {
  background-color: #ffad0b;
}


.projets .projet:nth-last-of-type(1) img {
  border: 3pt solid #bfc30b;
}
.projets .projet:nth-last-of-type(1) img:hover {
  background-color:  #bfc30b;
}


.page-projet{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 24px;
  background: #fff;
  gap: 0px;
  padding: 0px;
  justify-content: center;
  margin-bottom: 0px;
  position: relative;
}

.page-projet img{
  max-width: 100%;
  max-height: 100%;
  padding: 0pt;
  border: 0pt;
  margin-bottom: 0px;
  object-fit: scale-down; 
}

.image-container{
  display: grid;
  align-self: start;
  gap: 15px;
  padding: 0px;
  justify-content: center;
  margin-bottom: 0px;
}

.text-container{
  display: block;
  align-self: start;
  position: sticky;
  top : 10px;
  width: 80%;
  gap: 0px;
  padding: 0px;
  justify-content: center;
  margin-bottom: 0px;
}

.page-projet h3{
font-size: 30px;
  color: #2de8b6;
  margin: 0px;
  margin-left: 30px;
}

.page-projet h4{
  font-size: 20px;
  color: #959595;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
  margin-left: 30px;
}

.page-projet h5{
  font-size: 16px;
  color: #bdbdbd;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  margin-left: 30px;
}

.page-projet p{
  font-size: 17px;
  color: #959595;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 80px;
  margin: 0px;
  margin-left: 30px;
}

.projet-data{
  align-self: end; /* pour aligner les éléments en bas dans la grille parent !!! */

  display: grid;
  grid-template-columns: max-content 1fr;
  margin-bottom: 12px;
  border-top: 1px solid #ddd; 
}

.projet-data>*{
  margin: 0;
  padding-right: 12px;
  font-size: 1em;
  line-height: 3em;
}

@media (min-width: 960px){
  .xl{
    grid-column: span 2;
  }
}

/* gros level */
.projets{
  /* flow */
  grid-auto-flow: row dense; /* pour boucher les trous*/
}

/* fx javascript */
.projet{
  /* transition: opacity  0.8s ease;
} 
.projet.unactive{
  opacity: 0.5;
  /* filter: grayscale(1); 
  z-index: -1; */
}

.page-a-propos{
  margin: 0 auto;
  margin-right: 15%;
  background: #ffffff;
  grid-template-columns: repeat(auto-fill, minmax(320px,480px));
  gap: 0px;
  padding: 24px;
  justify-content: center;
  border-radius: 0px;
  box-shadow: 0 0 0px rgba(0,0,0,0.1);
  margin-bottom: 0px;
}

.page-a-propos h3{
  font-size: 30px;
  color: #2de8b6;
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
}

.page-a-propos p{
  font-size: 17px;
  color: #959595;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 80px;
  margin: 0px;
}


